@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import "../scss/colors";
@import "../node_modules/bootstrap/scss/bootstrap";

#asesores {
    font-family: 'Open Sans', sans-serif;
    h1 {
        font-family: 'Lato', sans-serif;
        font-weight: bold;

    }
}

.contacto-asesor {
    margin-bottom: 2em;
    width: 20em;
}