---
layout: ficha-inmueble
id: idinmueble
titulo: Terreno en venta en Urbanizaci贸n "Mirador del Urub贸"
precio: $ 32.000
operacion: Venta
imgCarouselActive: /inmuebles/2021020/web-img(1).jpg
imgCarousel:
  - /inmuebles/2021020/web-img(2).jpg
  - /inmuebles/2021020/web-img(3).jpg
  - /inmuebles/2021020/web-img(4).jpg
  - /inmuebles/2021020/web-img(5).jpg
  - /inmuebles/2021020/web-img(6).jpg
  - /inmuebles/2021020/web-img(7).jpg
caracteristicas:
linkFacebook: https://www.facebook.com/permalink.php?story_fbid=1451739951830543&id=908350172836193
linkPDF: http://via.placeholder.com/400x300?text=3
---

<p class="fw-bold">
  Terreno en Venta en la urbanizaci贸n cerrada "MIRADOR DEL URUB"
</p>
<p>
  Ubicado en la mejor zona de la ciudad!! "Urub贸" a solo 28min de la Santa Cruz,
  la zona m谩s alta del URUBO, acceso pavimentado a la Urbanizaci贸n, vistas
  煤nicas de la ciudad con variedad topogr谩fica.
</p>
<p>
  reas Sociales <br />
  3 Club House <br />
  Piscinas <br />
  Saunas <br />
  Gimnasios <br />
  Churrasqueras <br />
  Parques infantiles <br />
  Canchas deportivas
</p>
<p>
  Superficie: 1000 m虏 <br />
  PRECIO DE OFERTA <br />
  32.000$. <br />
</p>
<div class="fs-5 text-end">
  Contacta al asesor
  <span class="ps-3"><%- include('partials/wa-natalia-sanchez') %></span>
</div>
