---
layout: ficha-inmueble
id: idinmueble
titulo: Titulo inmueble
precio: $ Valor
operacion: Alquiler
imgCarouselActive: http://via.placeholder.com/400x300?text=1
imgCarousel:
  - http://via.placeholder.com/400x300?text=2
  - http://via.placeholder.com/400x300?text=3
caracteristicas:
linkFacebook: https://www.facebook.com/BienesRaicesMDU/posts/469179000705755
linkPDF: http://via.placeholder.com/400x300?text=3
---

<p></p>
<div class="fs-5 text-end">
  Contacta al asesor
  <span class="ps-3"><%- include('partials/wa-natalia-sanchez') %></span>
</div>
