---
layout: ficha-inmueble
id: 2021009
titulo: Hotel Tropical Inn en Venta
precio: $ 2.000.000
operacion: Venta
imgCarouselActive: /inmuebles/2021009/web-img(1).jpg
imgCarousel:
  - /inmuebles/2021009/web-img(2).jpg
  - /inmuebles/2021009/web-img(3).jpg
  - /inmuebles/2021009/web-img(4).jpg
  - /inmuebles/2021009/web-img(5).jpg
  - /inmuebles/2021009/web-img(6).jpg
  - /inmuebles/2021009/web-img(7).jpg
  - /inmuebles/2021009/web-img(8).jpg
caracteristicas:
linkFacebook: https://www.facebook.com/MDUBienesRaicesChichoSaavedra/posts/117995450395426
linkPDF: http://via.placeholder.com/400x300?text=3
---

<p class="fw-bold">
  游늸Hotel Tropical Inn en Venta Funcionando, totalmente equipado y amoblado.
  <br />
  Ubicado en el centro de Santa Cruz, a pocas cuadras de la plaza principal.
</p>
<p>游늸Consta de: 4 pisos con 45 habitaciones, Restaurante, Salones y Garaje.</p>
<p>
  Planta baja: recepci칩n, gerencia, 4 dep칩sito con 2 locales comerciales
  alquilados, garaje con ba침o, lavander칤a y 2 dep칩sitos. Cada habitaci칩n cuenta
  con ba침o privado, mesa, ropero empotrado, escritorio, cama, TV LED de 32 plg y
  tel칠fono. Las habitaciones dobles se amplian a triples y las triples a
  cu치druples. cuarto piso: 1 Sala de Reuniones, Restaurante con terraza, ba침os,
  cocina, ba침o de servicio y 5 dep칩sitos.
</p>
<p>
  *Especificaciones* <br />
  郊뾥uperficie Edificio: 600 m <br />
  郊뾠etros Construidos: 2332 m <br />
  郊뾥uperficie Garaje: 283.75 m
</p>
<div class="fs-5 text-end">
  Contacta al asesor
  <span class="ps-3"><%- include('partials/wa-chicho-saavedra') %></span>
</div>
