---
layout: ficha-inmueble
id: 2021010
titulo: Departamento en alquiler en Edificio "San Nicolas II"
precio: $ 350
operacion: Alquiler
imgCarouselActive: /inmuebles/2021010/web-img(1).jpg
imgCarousel:
  - /inmuebles/2021010/web-img(2).jpg
  - /inmuebles/2021010/web-img(3).jpg
  - /inmuebles/2021010/web-img(4).jpg
  - /inmuebles/2021010/web-img(5).jpg
  - /inmuebles/2021010/web-img(6).jpg
caracteristicas:
linkFacebook: https://www.facebook.com/BienesRaicesMDU/posts/509657276657927
linkPDF: http://via.placeholder.com/400x300?text=3
---

<p class="fw-bold">
  📍 Hermoso Departamento en Alquiler de 1 dormitorio en suite con vestidor y
  balcón, 1 baño adicional de visitas, cocina totalmente Amoblada y Equipada.
</p>
<p>
  📍 Ubicado en la Zona Norte: Av. Alemana 6to. Anillo Eficiio: "San Nicolas II"
  <br />
  💰 Precio: 350$ Expensas incluidas.
</p>
<div class="fs-5 text-end">
  Contacta al asesor
  <span class="ps-3"><%- include('partials/wa-natalia-sanchez') %></span>
</div>
