---
layout: ficha-inmueble
id: idinmueble
titulo: Departamento en Venta en Edificio "Orange Residence"
precio: $ 52.000
operacion: Venta
imgCarouselActive: /inmuebles/2021019/web-img(1).jpg
imgCarousel:
  - /inmuebles/2021019/web-img(2).jpg
  - /inmuebles/2021019/web-img(3).jpg
  - /inmuebles/2021019/web-img(4).jpg
  - /inmuebles/2021019/web-img(5).jpg
  - /inmuebles/2021019/web-img(6).jpg
  - /inmuebles/2021019/web-img(7).jpg
  - /inmuebles/2021019/web-img(8).jpg
  - /inmuebles/2021019/web-img(9).jpg
  - /inmuebles/2021019/web-img(10).jpg
  - /inmuebles/2021019/web-img(11).jpg
  - /inmuebles/2021019/web-img(12).jpg
caracteristicas:
linkFacebook: https://www.facebook.com/BienesRaicesMDU/posts/498417477781907
linkPDF: http://via.placeholder.com/400x300?text=3
---

<p class="fw-bold">
  游늷 A estrenar Hermoso departamento de 1 dormitorio en venta totalmente
  equipado, en el nuevo Edificio "ORANGE RESIDENCE".
</p>
<p>
  Zona Norte: Av. Beni entre 2do y 3er anillo <br />
  C/los pitones atr치s de los cusis.
</p>
<p>
  游늸Consta de: 1 dormitorio, 1 ba침o, living comedor con balc칩n, cocina equipada
  con muebles altos y bajo de cocina, cocina encimera, meson desayunador, box de
  ba침o, ar칠a para lavadora, ropero empotrado y aires acondicionados.
</p>
<p>
  游늻Superficie: 41mts <br />
  游눯Precio: 52.000$.
</p>
<div class="fs-5 text-end">
  Contacta al asesor
  <span class="ps-3"><%- include('partials/wa-natalia-sanchez') %></span>
</div>
