---
layout: ficha-inmueble
id: idinmueble
titulo: Monoambiente en venta o alquiler en "Edificio ONIX"
precio: $ 28.000 - $ 500
operacion: Venta o Alquiler
imgCarouselActive: /inmuebles/2021018/web-img(1).jpg
imgCarousel:
  - /inmuebles/2021018/web-img(2).jpg
  - /inmuebles/2021018/web-img(3).jpg
  - /inmuebles/2021018/web-img(4).jpg
  - /inmuebles/2021018/web-img(5).jpg
  - /inmuebles/2021018/web-img(6).jpg
caracteristicas:
linkFacebook: https://www.facebook.com/BienesRaicesMDU/posts/487270498896605
linkPDF: http://via.placeholder.com/400x300?text=3
---

<p class="fw-bold">
  📍Elegante Monoambiente Amoblado en "VENTA O ALQUILER" en el lujoso "Edificio
  ONIX" ubicado en Equipetrol.
</p>
<p>
  Precio de Venta: 67.000$us <br />
  Precio de Alquiler: 500$us con expensas y garaje. <br />
  •cocina equipada con microondas y electrodomésticos <br />
  •Lavadora <br />
  •Cama y TV.
</p>
<div class="fs-5 text-end">
  Contacta al asesor
  <span class="ps-3"><%- include('partials/wa-natalia-sanchez') %></span>
</div>
