---
layout: ficha-inmueble
id: 2021013
titulo: Departamento en venta en el centro, Zona M치quina Vieja
precio: $ 85.000
operacion: Venta
imgCarouselActive: /inmuebles/2021013/web-img(1).jpg
imgCarousel:
  - /inmuebles/2021013/web-img(2).jpg
  - /inmuebles/2021013/web-img(3).jpg
  - /inmuebles/2021013/web-img(4).jpg
  - /inmuebles/2021013/web-img(5).jpg
  - /inmuebles/2021013/web-img(6).jpg
  - /inmuebles/2021013/web-img(7).jpg
  - /inmuebles/2021013/web-img(8).jpg
caracteristicas:
linkFacebook: https://www.facebook.com/BienesRaicesMDU/posts/511848399772148
linkPDF: http://via.placeholder.com/400x300?text=3
---

<p class="fw-bold">
  游늷 Hermoso departamento en Venta Zona Centro - Maquina Vieja , pr칩ximo al
  palacio de justicia !!! Calle: Acre esq. Baures.
</p>
<p>
  游늻 62,4 mt2 <br />
  游늷 Ubicado en el quinto piso
</p>
<p>
  Consta de : 游댲2 dormitorios ( 1 en suit ) <br />
  游댲Ba침o de visita <br />
  游댲Cocina amoblada <br />
  游댲Living - comedor <br />
  游댲츼rea de servicio <br />
  游댲츼reas comunes, piscina - churrasquera, sal칩n social.
</p>
<div class="fs-5 text-end">
  Contacta al asesor
  <span class="ps-3"><%- include('partials/wa-karin-viruez') %></span>
</div>
