---
- auto:
  id: 1
  color: rojo
  marca: Nissan
  imagenes:
    imagen1
    imagen2
- auto:
  id: 2
  color: blanco
  arca: Ford
  imagenes:
    imagen3
    imagen4
---
<% if (page) { %> <%
    page.forEach(function(auto)
    { %>
        <ul class="text-white">
            <li>ID: <%= id %></li>
            <li>Color: <%= auto.color %></li>
            <li>Marca: <%= auto.marca %></li>
        </ul>
    <% }) %> <% } %>