<section class="container pb-5">
  <h1 class="col-lg-7 mb-4 font-encabezados text-white m-auto text-center">¿Quiénes somos?</h1>
  <p class="col-lg-7 mb-4 text-white m-auto text-center">
    Una franquicia inmobiliaria boliviana especializada en brindarles un
    servicio profesional, exclusivo y personalizado, atendiendo cada
    requerimiento, búsqueda de su inmueble, oficina o inversión ideal con altos
    estándares de calidad. Teniendo como prioridad su satisfacción en cualquier
    servicio prestado.
  </p>
</section>
