<section id="asesores" class="text-white container">
  <div class="pb-5">
    <h1 class="col-lg-7 mb-5 mx-auto text-center font-encabezados fw-normal">
      Ventajas de tener tu Asesor Inmobiliario
    </h1>
    <div class="row col-lg-9 mb-4 row-cols-2 row-cols-xl-3 mx-auto">
      <div class="col">
        <div class="circle bg-secondary rounded-circle mx-auto mb-2 p-4">
          <img src="img/iconos/ventajas-asesor/01.svg" alt="" />
        </div>
        <div class="ventajas-asesor text-center mx-auto mb-3">
          Acceso a los mejores inmuebles de la ciudad.
        </div>
      </div>
      <div class="col">
        <div class="circle bg-secondary rounded-circle mx-auto mb-2 p-4">
          <img src="img/iconos/ventajas-asesor/02.svg" alt="" />
        </div>
        <div class="ventajas-asesor text-center mx-auto mb-3">
          Asesoramiento personalizado en el an치lisis de mercado comparativo.
        </div>
      </div>
      <div class="col">
        <div class="circle bg-secondary rounded-circle mx-auto mb-2 p-4">
          <img src="img/iconos/ventajas-asesor/03.svg" alt="" />
        </div>
        <div class="ventajas-asesor text-center mx-auto mb-3">
          Formamos parte de la Red inmobiliaria en Santa Cruz.
        </div>
      </div>
      <div class="col">
        <div class="circle bg-secondary rounded-circle mx-auto mb-2 p-4">
          <img src="img/iconos/ventajas-asesor/04.svg" alt="" />
        </div>
        <div class="ventajas-asesor text-center mx-auto mb-3">
          Contamos con Precios competitivos del mercado.
        </div>
      </div>
      <div class="col">
        <div class="circle bg-secondary rounded-circle mx-auto mb-2 p-4">
          <img src="img/iconos/ventajas-asesor/05.svg" alt="" />
        </div>
        <div class="ventajas-asesor text-center mx-auto mb-3">
          Encontramos tu requerimiento, vendemos y alquilamos tu inmueble a
          corto plazo.
        </div>
      </div>
      <div class="col">
        <div class="circle bg-secondary rounded-circle mx-auto mb-2 p-4">
          <img src="img/iconos/ventajas-asesor/06.svg" alt="" />
        </div>
        <div class="ventajas-asesor text-center mx-auto mb-3">
          Herramientas de comercializaci칩n, publicidad, mercadeo y tour virtual
          para tu inmueble.
        </div>
      </div>
    </div>
    <!--
    <div class="container text-center">
      <button
        class="btn btn-lg btn-secondary"
        data-bs-toggle="collapse"
        data-bs-target="#info-asesores"
        aria-expanded="false"
        aria-controls="info-asesores"
      >
        Encuentra a tu Asesor
      </button>
    </div>
  </div>
</section>
<section
  class="container-fluid bg-primary text-white collapse"
  id="info-asesores"
>
  <div class="container">
    <div
      class="row row-cols-1 row-cols-md-2 row-cols-lg-3 justify-content-around"
      style="padding-top: 3em"
    >
      <div class="col contacto-asesor text-center">
        <img
          class="img-fluid mb-3 rounded-circle"
          src="/img/perfil-asesores/natalia.jpg"
          alt="Natalia S치nchez"
        />
        <ul class="list-unstyled">
          <li class="text-secondary fs-3 fw-bold font-encabezados lh-1">
            Natalia S치nchez
          </li>
          <li class="text-secondary fs-4 font-encabezados">Broker Owner</li>
          <li><span class="fw-bold">mail: </span>bienesraices@mdu.com.bo</li>
          <li><span class="fw-bold">telf.: </span>+591 77690905</li>
        </ul>
        <button
          class="btn btn-secondary"
          onclick="window.location.href='https://wa.me/59177690905'"
        >
          <i class="bi bi-whatsapp me-2"></i>Contactar
        </button>
      </div>
      <div class="col contacto-asesor text-center">
        <img
          class="img-fluid mb-3 rounded-circle"
          src="img/perfil-asesores/chicho.jpg"
          alt="Chicho Saavedra"
        />
        <ul class="list-unstyled">
          <li class="text-secondary fs-3 fw-bold font-encabezados lh-1">
            Chicho Saavedra
          </li>
          <li class="text-secondary fs-4 font-encabezados">Agente Asociado</li>
          <li><span class="fw-bold">mail: </span>csaavedra@mdu.com.bo</li>
          <li><span class="fw-bold">telf.: </span>+591 76090059</li>
        </ul>
        <button
          class="btn btn-secondary"
          onclick="window.location.href='https://wa.me/59176090059'"
        >
          <i class="bi bi-whatsapp me-2"></i>Contactar
        </button>
      </div>
      <div class="col contacto-asesor text-center">
        <img
          class="img-fluid mb-3 rounded-circle"
          src="img/perfil-asesores/karin.jpg"
          alt="Chicho Saavedra"
        />
        <ul class="list-unstyled">
          <li class="text-secondary fs-3 fw-bold font-encabezados lh-1">
            Karin Viruez
          </li>
          <li class="text-secondary fs-4 font-encabezados">Agente Asociada</li>
          <li><span class="fw-bold">mail: </span>kviruez@mdu.com.bo</li>
          <li><span class="fw-bold">telf.: </span>+591 75600003</li>
        </ul>
        <button
          class="btn btn-secondary"
          onclick="window.location.href='https://wa.me/59175600003'"
        >
          <i class="bi bi-whatsapp me-2"></i>Contactar
        </button>
      </div>
    </div>
  </div>
-->
</section>
