<div class="col">
  <div
    class="
      card
      my-3
      text-white
      bg-primary
      border-0
      shadow-lg
      card-custom-border
    "
  >
    <div
      id="carousel2021001"
      class="carousel slide carousel-fade"
      data-bs-ride="carousel"
    >
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img
            src="http://via.placeholder.com/400x300?text=1"
            class="d-block w-100 card-img-top card-custom-border"
          />
        </div>
        <div class="carousel-item">
          <img
            src="http://via.placeholder.com/400x300?text=2"
            class="d-block w-100 card-img-top card-custom-border"
          />
        </div>
        <div class="carousel-item">
          <img
            src="http://via.placeholder.com/400x300?text=3"
            class="d-block w-100 card-img-top card-custom-border"
          />
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carousel2021001"
        data-bs-slide="prev"
      >
        <span
          class="carousel-control-prev-icon"
          aria-hidden="true"
        ></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carousel2021001"
        data-bs-slide="next"
      >
        <span
          class="carousel-control-next-icon"
          aria-hidden="true"
        ></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <div class="card-body">
      <h5 class="card-title">Titulo</h5>
      <p class="card-text">Lorem ipsum dolor sit amet consectetur.</p>
      <div class="text-end">
        <a href="/2021001" class="btn btn-secondary">Detalles</a>
      </div>
    </div>
  </div>
</div>