<div class="col">
  <div
    class="
      card
      h-100
      text-white
      bg-primary
      border-0
      shadow-lg
      card-custom-border
    "
  >
    <div
      id="carousel2021001"
      class="carousel slide carousel-fade"
      data-bs-ride="carousel"
    >
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img
            src="/inmuebles/2021001/web-img01.jpg"
            class="d-block w-100 card-img-top card-custom-border"
          />
        </div>
        <div class="carousel-item">
          <img
            src="/inmuebles/2021001/web-img02.jpg"
            class="d-block w-100 card-img-top card-custom-border"
          />
        </div>
        <div class="carousel-item">
          <img
            src="/inmuebles/2021001/web-img03.jpg"
            class="d-block w-100 card-img-top card-custom-border"
          />
        </div>
        <div class="carousel-item">
          <img
            src="/inmuebles/2021001/web-img04.jpg"
            class="d-block w-100 card-img-top card-custom-border"
          />
        </div>
        <div class="carousel-item">
          <img
            src="/inmuebles/2021001/web-img05.jpg"
            class="d-block w-100 card-img-top card-custom-border"
          />
        </div>
        <div class="carousel-item">
          <img
            src="/inmuebles/2021001/web-img06.jpg"
            class="d-block w-100 card-img-top card-custom-border"
          />
        </div>
        <div class="carousel-item">
          <img
            src="/inmuebles/2021001/web-img07.jpg"
            class="d-block w-100 card-img-top card-custom-border"
          />
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carousel2021001"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carousel2021001"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <div class="card-body">
      <h5 class="card-title">Terreno en venta en Urbanización "Alta Vista"</h5>
      <p class="card-text">
        ¡Gran oportunidad de inversión! Terreno de 750,62m² en venta en la zona
        del Urubó. Ideal para vivienda.
      </p>
    </div>
    <div class="card-footer text-end">
      <span class="me-2">Venta: $ 72.000</span>
      <a href="/2021001" class="btn btn-secondary"
        ><i class="bi bi-info-circle me-2"></i>Detalles</a
      >
    </div>
  </div>
</div>
