<div class="col">
  <div
    class="
      card
      h-100
      text-white
      bg-primary
      border-0
      shadow-lg
      card-custom-border
    "
  >
    <div
      id="carousel2021016"
      class="carousel slide carousel-fade"
      data-bs-ride="carousel"
    >
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img
            src="/inmuebles/2021016/web-img(1).jpg"
            class="d-block w-100 card-img-top card-custom-border"
          />
        </div>
        <div class="carousel-item">
          <img
            src="/inmuebles/2021016/web-img(2).jpg"
            class="d-block w-100 card-img-top card-custom-border"
          />
        </div>
        <div class="carousel-item">
          <img
            src="/inmuebles/2021016/web-img(3).jpg"
            class="d-block w-100 card-img-top card-custom-border"
          />
        </div>
        <div class="carousel-item">
          <img
            src="/inmuebles/2021016/web-img(4).jpg"
            class="d-block w-100 card-img-top card-custom-border"
          />
        </div>
        <div class="carousel-item">
          <img
            src="/inmuebles/2021016/web-img(5).jpg"
            class="d-block w-100 card-img-top card-custom-border"
          />
        </div>
        <div class="carousel-item">
          <img
            src="/inmuebles/2021016/web-img(6).jpg"
            class="d-block w-100 card-img-top card-custom-border"
          />
        </div>
        <div class="carousel-item">
          <img
            src="/inmuebles/2021016/web-img(7).jpg"
            class="d-block w-100 card-img-top card-custom-border"
          />
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carousel2021016"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carousel2021016"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <div class="card-body">
        <h5 class="card-title">
          Casa en venta zona central de Santa Cruz de la Sierra.
        </h5>
        <p class="card-text">
          Casa en venta en el centro de Santa Cruz de la Sierra, paralela al
          1er. Anillo, atrás del conocido "Quiosco Beni". Ideal para Negocio.
        </p>
      </div>
      <div class="card-footer text-end">
        <span class="me-2">Venta: $ 170.000</span>
        <a href="/2021016" class="btn btn-secondary"
          ><i class="bi bi-info-circle me-2"></i>Detalles</a
        >
      </div>
    </div>
  </div>
</div>
