<div class="col">
  <div
    class="
      card
      h-100
      text-white
      bg-primary
      border-0
      shadow-lg
      card-custom-border
    "
  >
    <div
      id="carousel2021003"
      class="carousel slide carousel-fade"
      data-bs-ride="carousel"
    >
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img
            src="/inmuebles/2021003/web-img1.jpg"
            class="d-block w-100 card-img-top card-custom-border"
          />
        </div>
        <div class="carousel-item">
          <img
            src="/inmuebles/2021003/web-img2.jpg"
            class="d-block w-100 card-img-top card-custom-border"
          />
        </div>
        <div class="carousel-item">
          <img
            src="/inmuebles/2021003/web-img3.jpg"
            class="d-block w-100 card-img-top card-custom-border"
          />
        </div>
        <div class="carousel-item">
          <img
            src="/inmuebles/2021003/web-img4.jpg"
            class="d-block w-100 card-img-top card-custom-border"
          />
        </div>
        <div class="carousel-item">
          <img
            src="/inmuebles/2021003/web-img5.jpg"
            class="d-block w-100 card-img-top card-custom-border"
          />
        </div>
        <div class="carousel-item">
          <img
            src="/inmuebles/2021003/web-img6.jpg"
            class="d-block w-100 card-img-top card-custom-border"
          />
        </div>
        <div class="carousel-item">
          <img
            src="/inmuebles/2021003/web-img7.jpg"
            class="d-block w-100 card-img-top card-custom-border"
          />
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carousel2021003"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carousel2021003"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <div class="card-body">
      <h5 class="card-title">Departamento en venta en Condominio "Gava"</h5>
      <p class="card-text">
        Deportamento de 2 dormitorios uno en suite con vestidor, en zona Norte,
        Av. Beni a 1 cuadra del 4to. Anillo.
      </p>
    </div>
    <div class="card-footer text-end">
      <span class="me-2">Alquiler: $ 380</span>
      <a href="/2021003" class="btn btn-secondary"
        ><i class="bi bi-info-circle me-2"></i>Detalles</a
      >
    </div>
  </div>
</div>
