<section class="container py-3">
  <h1 class="text-white font-encabezados mb-3">Contácto</h1>
  <div class="row row-cols-1 row-cols-lg-2">
    <div class="col col-lg-4">
      <div class="mb-3 text-white fs-4">
        Envíenos su consulta y atendemos su requerimiento inmobiliario de manera
        personalizada.
      </div>
      <div class="circle bg-secondary rounded-circle mx-auto mb-2"></div>
    </div>
    <form id="contact-form" class="col col-lg-8">
      <input type="hidden" name="contact_number" />
      <div class="mb-3">
        <label
          for="FormContactoNombre"
          class="form-label text-white font-encabezados fs-5"
          >Nombre</label
        >
        <input
          required
          type="text"
          class="form-control"
          id="FormContactoNombre"
          name="form_name"
          placeholder="Ingrese su nombre y apellido."
        />
      </div>
      <div class="mb-3">
        <label
          for="FormContactoEmail"
          class="form-label text-white font-encabezados fs-5"
          >Email</label
        >
        <input
          required
          type="email"
          class="form-control"
          id="FormContactoEmail"
          name="form_email"
          placeholder="nombre@dominio.com"
        />
      </div>
      <div class="mb-3">
        <label
          for="FormContactoTlf"
          class="form-label text-white font-encabezados fs-5"
          >Nro. de Teléfono</label
        >
        <input
          required
          type="tel"
          class="form-control"
          id="FormContactoTlf"
          name="form_telefono"
          placeholder="Ingrese su número de teléfono."
        />
      </div>
      <div class="mb-3">
        <label
          for="FormContactoTexto"
          class="form-label text-white font-encabezados fs-5"
          >Mensaje</label
        >
        <textarea
          required
          id="FormContactoTexto"
          rows="5"
          class="form-control"
          name="form_message"
        ></textarea>
      </div>
      <button class="btn btn-secondary" type="submit" value="Send">
        Enviar
      </button>
    </form>
  </div>
</section>
