<footer class="container-fluid bg-primary text-secondary px-0 pt-3">
  <div class="container">
    <div class="row row-cols-1 row-cols-md-auto justify-content-between">
      <img
        class="col mb-3 mb-md-0"
        src="/img/logos/logo-eslogan.svg"
        height="100"
        alt=""
      />
      <ul class="col list-unstyled text-center text-md-start">
        <li class="fs-4 fw-bold font-encabezados text-center text-md-start">
          Contáctanos:
        </li>
        <li><i class="bi bi-telephone-fill me-1"></i>(+591) 77690905</li>
        <li><i class="bi bi-envelope-fill me-1"></i>bienesraices@mdu.com.bo</li>
        <li>
          <i class="bi bi-geo-alt-fill me-1"></i>
          Calle Victorino Rivero, #6.
          <br />
          <span class="ms-3 ps-1"></span>
          Santa Cruz De La Sierra - Bolivia
        </li>
      </ul>
      <ul class="col list-inline fs-1 text-center text-md-start">
        <li class="fs-4 fw-bold font-encabezados">Síguenos:</li>
        <li class="list-inline-item">
          <a href="https://www.facebook.com/BienesRaicesMDU" target="_blank"
            ><i class="bi bi-facebook text-secondary"></i
          ></a>
        </li>
        <li class="list-inline-item">
          <a href="https://www.instagram.com/mdu_bienesraices/" target="_blank"
            ><i class="bi bi-instagram text-secondary"></i
          ></a>
        </li>
        <li class="list-inline-item">
          <a href="https://wa.me/59177690905" target="_blank"
            ><i class="bi bi-whatsapp text-secondary"></i
          ></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="text-center bg-secondary text-dark py-1 mt-2">
    © 2021 - www.mdubienesracies.com
  </div>
</footer>
