<div class="sticky-top shadow-sm transparencia-header blur-performance">
  <header class="container">
    <nav class="navbar navbar-expand navbar-dark justify-content-between">
      <a href="/index.html" class="navbar-brand"
        ><img id="logo-header" src="/img/logos/logo.svg" alt=""
      /></a>
      <ul class="navbar-nav fs-5">
        <li class="nav-item">
          <a
            href="https://www.facebook.com/BienesRaicesMDU"
            target="_blank"
            class="nav-link"
          >
            <i class="bi bi-facebook text-secondary text-secondary"></i>
          </a>
        </li>
        <li class="nav-item">
          <a
            href="https://www.instagram.com/mdu_bienesraices/"
            target="_blank"
            class="nav-link"
          >
            <i class="bi bi-instagram text-secondary"></i>
          </a>
        </li>
        <li class="nav-item">
          <a
            href="https://api.whatsapp.com/send/?phone=59177690905"
            target="_blank"
            class="nav-link"
          >
            <i class="bi bi-whatsapp text-secondary"></i>
          </a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle text-secondary"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <i class="bi bi-list"></i>
          </a>
          <ul
            class="
              dropdown-menu dropdown-menu-end dropdown-menu-dark
              bg-primary
              text-end
              fs-5
              animate
              slideIn
            "
            aria-labelledby="navbarDropdown"
          >
            <li>
              <a href="#" class="dropdown-item text-secondary"
                >Inicio<i class="bi bi-house ms-2 text-secondary"></i
              ></a>
            </li>
            <li>
              <a href="/venta" class="dropdown-item text-secondary"
                >Compra<i class="bi bi-currency-dollar ms-2 text-secondary"></i
              ></a>
            </li>
            <li>
              <a href="/alquiler" class="dropdown-item text-secondary"
                >Alquila<i class="bi bi-key ms-2 text-secondary"></i
              ></a>
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a
                href="#"
                class="dropdown-item text-secondary"
                onclick="modalNuestra('modalContacto','Contacto')"
                >Contacto<i class="bi bi-envelope ms-2 text-secondary"></i
              ></a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </header>
</div>
