<section
  id="index-hero-text"
  class="container py-5 d-flex flex-column justify-content-center text-center"
  style="min-height: 50vh; max-width: 60rem"
>
  <div class="fs-1 text-white">Tu próxima vivienda o negocio:</div>
  <div class="text-center py-3">
    <a href="/compra" class="btn btn-secondary btn-lg me-2 shadow-lg" style="min-width: 10rem"
      >Compra</a
    >
    <a href="/alquiler" class="btn btn-secondary btn-lg shadow-lg" style="min-width: 10rem"
      >Alquila</a
    >
  </div>
  <div class="fs-2 text-white">Nuestra prioridad, tu satisfacción.</div>
</section>
